/* ---------------------------------------------------------------------------*/
/* MOBILE FIRST - base/_typography.scss                                       */
/* ---------------------------------------------------------------------------*/
@charset "UTF-8";
////////////////////////////////////////////////////// BREAKPOINT EXTRA SMALL UP
@include media-breakpoint-up(xs) {
  //////////////////////////////////////////////////////////////////////////////
  // [ COMMON - ALPHABETICAL ORDER ]
  // [ DETAILS ]
  details {
    border       : $border-width solid $primary;
    border-radius: $border-radius;
    padding      : 0 1.5rem 0 2.5rem;
    margin       : 1rem 0;
    summary {
      outline    : none;
      margin-left: -1.5rem;
      &::marker {
        color: $primary;
      }
    }
    &[open] summary ~ * {
      animation: sweep .5s ease-in-out;
    }
  }
  @keyframes sweep {
    0% {
      opacity    : 0;
      margin-left: -10px;
    }
    100% {
      opacity    : 1;
      margin-left: 0;
    }
  }

  //////////////////////////////////////////////////////////////////////////////
  // [ ONLY APPLY TO ARTICLE ]
  article.node {

    ////////////////////////////////////////////////////////////////////////////
    // [ LINK ]
    a {
      color          : $primary;
      transition     : $transition-base;
      text-decoration: underline;
      &:hover {
        color: darken($primary, 10%);
      }
    }
    ////////////////////////////////////////////////////////////////////////////
    // [ DEFINITION ]
    abbr {
      font-size: 90%;
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ ADDRESS ]
    address {}

    ////////////////////////////////////////////////////////////////////////////
    // [ BOLD ]
    b {
      font-weight: bold;
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ BLOCKQUOTE ]
    blockquote {
      margin    : 3rem;
      font-size : 1.5rem;
      font-style: italic;
      color     : $gray-600;
      text-align: right;
      position  : relative;
      quotes    : '“' '”' '‘' '’';
      &:before {
        font-style : normal;
        content    : open-quote;
        font-size  : 6rem;
        font-weight: 600;
        color      : $primary;
        margin-left: -3.5rem;
        position   : absolute;
        margin-top : -2.5rem;
      }
      &:after {
        font-style : normal;
        content    : close-quote;
        font-size  : 6rem;
        font-weight: 600;
        color      : $primary;
        right      : -3.5rem;
        position   : absolute;
        bottom     : -2.5rem;
      }
    }
    ////////////////////////////////////////////////////////////////////////////
    // [ WORK TITLE ]
    cite {
      color    : $gray-700;
      font-size: 90%;
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ DELETED TEXT ]
    del {}

    ////////////////////////////////////////////////////////////////////////////
    // [ DESCRIPTION LIST ]
    dl {
      background-color: $gray-100;
      border-radius   : $border-radius;
      padding         : 1rem;
      dt {
        color: $primary;
      }
      dd {
        padding-bottom: .5rem;
        border-bottom::$border-width dotted $border-color;
      }
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ DEFINITION ]
    dfn {
      font-size: 90%;
      color    : $gray-700;
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ EMPHASED ]
    em {
      font-style: italic;
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ FIGURE + CAPTION ]
    figure {
      display         : inline-block;
      margin-top      : 1.75rem;
      margin-bottom   : 1.75rem;
      background-color: $gray-200;
      figcaption {
        font-size : .85rem;
        text-align: right;
        color     : $gray-600;
        font-style: italic;
        padding   : .5rem .75rem;
      }
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ HEADINGS ]

    // [ MIXINS ]
    #{headings(1, 6)} {
      a {
        text-decoration-line: none;
        &:hover {
          text-decoration-line: none;
        }
      }
    }
    // [ COLOR & SIZE ]

    .h1,
    h1,
    h1 a {
      /*  font-size: 2.75rem; */
      /*   color: $gray-700;*/
    }
    .h2,
    h2,
    h2 a {
      /*   color: $gray-700;*/
      /*  font-size: 2.5rem; */
    }
    .h3,
    h3,
    h3 a {
      /*   color: $gray-700;*/
      /*  font-size: 2.25rem; */
    }
    .h4,
    h4,
    h4 a {
      /*   color: $gray-700;*/
      /*  font-size: 2rem; */
    }
    .h5,
    h5,
    h5 a {
      /* color: $gray-700;*/
      /*  font-size: 1.75rem; */
    }
    .h6,
    h6,
    h6 a {
      /* color: $gray-700;*/
      /*    font-size: 1.5rem; */
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ PARAGRAPH SEPARATOR ]
    p + hr.text {
      border    : none;
      border-top: 2px solid $gray-400;
      color     : $gray-500;
      overflow  : visible;
      text-align: center;
      height    : 5px;
    }
    p + hr.text:after {
      background: #fff;
      content   : '§';
      font-size : 1.75rem;
      padding   : 0 4px;
      position  : relative;
      top       : -21px;
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ ITALIC ]
    i {
      font-style: italic;
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ INSERTED TEXT ]
    ins {}

    ////////////////////////////////////////////////////////////////////////////
    // [ KEYBOARD STROKE ]
    kbd {
      padding         : .2rem .4rem;
      font-size       : 90%;
      color           : #fff;
      background-color: $gray-600;
      border-radius   : 2px;
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ LIST ]

    // [ ORDERED LIST ]
    ul:not([class]) {
      padding-left: 2rem;
      li::marker {
        color    : $primary;
        font-size: 1.25em;
      }
      ul {
        padding-left: 1.25rem;
      }
    }
    // [ UNORDERED LIST ]
    ol:not([class]) {
      padding-left: 2rem;
      line-height : 1.75rem;
      li::marker {
        color: $primary;
      }
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ PARAGRAPHE ]
    p {}

    ////////////////////////////////////////////////////////////////////////////
    // [ PICTURE ]
    picture {}

    ////////////////////////////////////////////////////////////////////////////
    // [ PREFORMATED COMMAND ]

    pre.command {
      overflow        : visible;
      background-color: $gray-100;
      padding         : .5rem 1rem;
      border          : 1px dashed $green;
      color           : $gray;
      border-radius   : 2px;
      white-space     : pre-wrap;
    }

    // [ PREFORMATED CODE ]
    pre.code {
      background-color: $gray-100;
      border-left     : 5px solid $primary;
      border-right    : 1px solid $gray-400;
      border-top      : 1px solid $gray-400;
      border-bottom   : 1px solid $gray-400;
      border-radius   : 3px;
      padding         : 1rem;
      color           : #2f6f9f;
      .attribute {
        color: #4f9fcf;
      }
      .value {
        color: #d44950;
      }
      .text {
        color: #212529;
      }
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ QUOTE ]
    q {
      font-size : 90%;
      font-style: italic;
      quotes    : '“' '”' '‘' '’';
      &:before {
        content: open-quote;
      }
      &:after {
        content: close-quote;
      }
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ MARK ]
    mark {
      font-size       : 90%;
      background-color: $yellow;
      padding         : .1rem .4rem;
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ SAMPLE ]
    samp {
      font-size: 90%;
      color    : $gray-700;
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ STROKE ]
    s {}

    ////////////////////////////////////////////////////////////////////////////
    // [ STRONG ]
    strong {
      font-weight: bold;
    }

    ////////////////////////////////////////////////////////////////////////////
    // [ SIDE-COMMENTS ]
    small {}

    ////////////////////////////////////////////////////////////////////////////
    // [ TABLES ]
    table {
      border-collapse: collapse;
      border-spacing : 0;
    }
    thead th {
      background-color: $primary;
      color           : $white;
    }
    thead th:first-child {
      border-radius   : $border-radius 0 0 0;
      background-color: $primary;
    }
    thead th:last-child {
      border-radius   : 0 $border-radius 0 0;
      background-color: $primary;
    }
    tfoot {
      border-top: 1px solid $gray-300;
    }
    tfoot tr th {
      background-color: $gray-200;
    }
    tfoot tr:last-child th:first-child {
      border-radius   : 0 0 0 $border-radius;
      background-color: $gray-200;
    }
    tfoot tr:last-child th:last-child {
      border-radius   : 0 0 $border-radius 0;
      background-color: $gray-200;
    }

  }
}

//////////////////////////////////////////////////////////// BREAKPOINT SMALL UP
@include media-breakpoint-up(sm) {
  //////////////////////////////////////////////////////////////////////////////
  // [ COMMON ]
  body {
    font-size: $font-size-base-sm;
  }
}

/////////////////////////////////////////////////////////// BREAKPOINT MEDIUM UP
@include media-breakpoint-up(md) {
  //////////////////////////////////////////////////////////////////////////////
  // [ PARAGRAPHE ]
  body {
    font-size: $font-size-base-md;
  }
  article.node {
    p {
      text-align: justify;
    }
  }
  ////////////////////////////////////////////////////////////////////////////
  // [ LIST ]

  // [ ORDERED LIST ]
  ul:not([class]) {
    padding-left: 2.5rem;
    line-height : 1.75rem;
    li::marker {
      color    : $primary;
      font-size: 1.25em;
    }
    ul {
      padding-left: 1.5rem;
    }
  }
  // [ UNORDERED LIST ]
  ol:not([class]) {
    line-height: 1.75rem;
    li::marker {
      color    : $primary;
      font-size: 1em;
    }
  }
}

//////////////////////////////////////////////////////////// BREAKPOINT LARGE UP
@include media-breakpoint-up(lg) {
  //////////////////////////////////////////////////////////////////////////////
  // [ COMMON ]
  body {
    font-size: $font-size-base-lg;
  }
}

////////////////////////////////////////////////////// BREAKPOINT EXTRA LARGE UP
@include media-breakpoint-up(xl) {
  //////////////////////////////////////////////////////////////////////////////
  // [ COMMON ]
  body {
    font-size: $font-size-base-xl;
  }
}
