<!-- ASIDE CONTENT -->
<div class="col-md-4 d-print-none">
  <aside class="my-3 position-sticky sticky-top bg-light p-3 " id="content-aside">
    <div>
      {{ page.sidebar_left }}
    </div>
  </aside>
</div>
<!-- ASIDE CONTENT -->
