/* ---------------------------------------------------------------------------*/
/* MOBILE FIRST - layout/_aside-content.scss                                  */
/* ---------------------------------------------------------------------------*/
@charset "UTF-8";
/////////////////////////////////////////////////////////// BREAKPOINT MEDIUM UP
@include media-breakpoint-up(xs) {
  //////////////////////////////////////////////////////////////////////////////
  // [ STICKY COMPATIBILITY WITH TOOLBAR ]
  aside.sticky-top:before {
    display   : block;
    content   : ' ';
    margin-top: -70px;
    height    : 70px;
    visibility: hidden;
    z-index   : 0;
  }
  aside.sticky-top {
    z-index: 0;
    top    : 70px;
  }
  .adminimal-admin-toolbar aside.sticky-top {
    top: 109px;
    &:before {
      display   : block;
      content   : ' ';
      margin-top: -109px;
      height    : 109px;
      visibility: hidden;
    }
  }
  .adminimal-admin-toolbar.toolbar-tray-open aside.sticky-top {
    top: 148px;
    &:before {
      display   : block;
      content   : ' ';
      margin-top: -148px;
      height    : 148px;
      visibility: hidden;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
// [ CONTENT ASIDE COMMON ]
#content-aside {
  a {
    text-decoration: none;
  }
  ul:not(.contextual-links) {
    padding-left: .5rem;
    margin-left : 0;
  }
  ul:not(.contextual-links) li {
    margin-left: 0;
    list-style : none;
  }
  ul:not(.contextual-links) a {
    font-size : 90%;
    transition: $transition-base;
  }

  .view-who-s-online .view-header,
  div[id*="comments-recent"] .views-field-changed,
  div[id*="content-recent"] .views-field-changed,
  div[id*="comments-recent"] .view-empty,
  div[id*="content-recent"] .view-empty {
    color    : $gray-600;
    font-size: 80%;
  }

  // clock icon for recent comment and content
  div[id*="comments-recent"] .views-field-changed,
  div[id*="content-recent"] .views-field-changed {
    color    : $gray-600;
    font-size: 80%;
    position : relative;
    &:before {
      content         : '';
      width           : 15px;
      height          : 15px;
      display         : inline-block;
      background-color: $gray-600;
      transition      : $transition-base;
      transform       : translateY(2px);
      mask            : url('../icon/clock.svg');
      mask-size       : contain;
      mask-repeat     : no-repeat;
      margin-right    : .2rem;
    }
  }

  // border top for recent comment and content
  div[id*="comments-recent"],
  div[id*="content-recent"] {
    ul:not(.contextual-links) li:nth-child(n+2) {
      border-top : 1px solid $gray-300;
      padding-top: .25rem;
      margin-top : .25rem;
    }
  }
  //Forum plus link
  div[id*="newforumtopics"] .more-link,
  div[id*="activeforumtopics"] .more-link {
    position: relative;
    height  : 30px;
    a {
      font-size: 0;
      height   : 24px;
      width    : 24px;
      display  : inline-block;
      position : absolute;
      right    : 20px;
      z-index  : 1;
      top      : -10px;
      &:before {
        content         : '';
        width           : 20px;
        height          : 20px;
        display         : inline-block;
        background-color: $primary;
        margin-right    : .35rem;
        transform       : translateY(4px);
        transition      : $transition-base;
        mask            : url('../icon/plus.svg');
        mask-size       : contain;
        mask-repeat     : no-repeat;
      }
    }
  }

  // book block: make active page link more visible
  div[id*="booknavigation"] .menu-item.menu-item--active-trail:not(.menu-item--expanded) {
    font-weight: 600;
  }
  // target all block in content aside
  .block {
    h2 {
      font-size: 1.5rem;
      position : relative;
      color    : $gray-600;
      &:before {
        content         : '';
        width           : 24px;
        height          : 24px;
        display         : inline-block;
        background-color: $gray-600;
        margin-right    : .35rem;
        transform       : translateY(4px);
      }
    }
  }
  // block specific icon
  div[id*="newforumtopics"] h2:before {
    mask       : url('../icon/comment-fill.svg');
    mask-size  : contain;
    mask-repeat: no-repeat;
  }
  div[id*="activeforumtopics"] h2:before {
    mask       : url('../icon/thunder.svg');
    mask-size  : contain;
    mask-repeat: no-repeat;
  }
  div[id*="booknavigation"] h2:before {
    mask       : url('../icon/book.svg');
    mask-size  : contain;
    mask-repeat: no-repeat;
  }
  div[id*="comments-recent"] h2:before {
    mask       : url('../icon/comment.svg');
    mask-size  : contain;
    mask-repeat: no-repeat;
  }
  div[id*="content-recent"] h2:before {
    mask       : url('../icon/article.svg');
    mask-size  : contain;
    mask-repeat: no-repeat;
  }
  div[id*="who-s-new"] h2:before {
    mask       : url('../icon/user-1.svg');
    mask-size  : contain;
    mask-repeat: no-repeat;
  }
  div[id*="who-s-new"] h2:before {
    mask       : url('../icon/user-1.svg');
    mask-size  : contain;
    mask-repeat: no-repeat;
  }
  div[id*="shortcuts"] h2:before {
    mask       : url('../icon/star.svg');
    mask-size  : contain;
    mask-repeat: no-repeat;
  }
  nav[id*="tools"] h2:before {
    mask       : url('../icon/tools.svg');
    mask-size  : contain;
    mask-repeat: no-repeat;
  }
  div[id*="who-s-online"] h2:before {
    mask       : url('../icon/user-1.svg');
    mask-size  : contain;
    mask-repeat: no-repeat;
  }
  nav[id*="administration"] h2:before {
    mask       : url('../icon/gear.svg');
    mask-size  : contain;
    mask-repeat: no-repeat;
  }
}
